$main-color: rgb(44, 120, 101);
$secondary-color: rgb(155, 190, 135);
$details-color: rgb(255, 152, 0);
$font-color-light: rgb(202, 209, 192);
$font-color-dark: rgb(17, 53, 44);
$shadow-light: 0px 3px 8px 3px rgb(108, 105, 105);
$shadow-dark: 0px 3px 8px 3px rgb(28, 27, 27);
