button {
	background-color: $secondary-color;
	//flex: 0 0 25%;
	//width: 50%;
	height: 30px;
	border-radius: 6px;
	box-shadow: $shadow-light;
	border: none;
	color: $font-color-dark;
	font-family: "Cormorant SC", serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
	font-size: 20px;
	//margin-top: 10px;

	@include md() {
		//width: 25%;
	}

	@include md-max() {
		//width: 200px;
		//height: 35px;
		font-size: 25px;
	}
}

#cardBtn {
	width: 50%;
}

.cardBtn__detail {
	width: 200px;
	margin-inline: auto;
	background-color: $details-color;
}
