button,
.button {
	background-color: $secondary-color;
	border-radius: 6px;
	box-shadow: $shadow-light;
	border: none;
	color: $font-color-dark;
	font-family: "Cormorant SC", serif;
	font-weight: 800;
	font-style: normal;
	font-size: 20px;
	padding-block: 16px;
	line-height: 10px;
  cursor: pointer;
  width: 220px;

	@include md() {
    font-size: 24;
    width: 300px;
	}

	@include md-max() {
		font-size: 28px;
    width: 300px;
	}
}

.button{
  	padding-block: 0;
  
}

button:hover{
  opacity: 0.8;
}