.cardsBox {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	//grid-template-columns: 120px auto;
	gap: 30px;
	overflow-y: auto;
	width: 80%;
	margin-top: 270px;
	border-radius: 20px;
	padding: 20px;
	margin-inline: 10%;

	@include md() {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	@include md-max() {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}

.cardBox {
	box-shadow: $shadow-dark;
	border-radius: 10px;
	width: 100%;
	padding: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	background-color: $secondary-color;
	margin-bottom: 10px;

	h2 {
		font-family: "Cormorant SC", serif;
		font-size: 36px;
		margin-inline: auto;

		@include md() {
			font-size: 42px;
		}

		@include md-max() {
			font-size: 50px;
		}
	}
}

.fairyElement {
	font-family: "Cormorant SC", serif;
	font-size: 20px;
	margin-inline: auto;

	@include md() {
		font-size: 28px;
	}

	@include md-max() {
		font-size: 36px;
	}
}

#cardDetail {
	//border: 2px solid black;
	box-shadow: $shadow-dark;
	border-radius: 10px;
	width: 95%;
	padding: 15px;
	display: flex;
	flex-direction: column;
	//grid-template-columns: 120px auto;
	gap: 15px;
}

.cardBtn {
	display: flex;
	flex-direction: column;
	margin-inline: auto;
	gap: 10px;

	@include md() {
		flex-direction: row;
		gap: 20px;
	}
}

.fairyImg {
	width: 100%;
}

// .fairyName {
// 	margin-bottom: 20px;
// }
