@import url("https://fonts.googleapis.com/css2?family=Sevillana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

button {
  background-color: rgb(155, 190, 135);
  width: 100px;
  height: 30px;
  border-radius: 6px;
  box-shadow: 0px 1px 8px 1px rgb(180, 176, 176);
  border: none;
  color: rgb(17, 53, 44);
  font-family: "Cormorant SC", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 20px;
}
@media (min-width: 970px) {
  button {
    width: 180px;
  }
}
@media (min-width: 1200px) {
  button {
    width: 250px;
    height: 35px;
    font-size: 25px;
  }
}

.cardBtn__detail {
  width: 200px;
  margin-inline: auto;
  background-color: rgb(255, 152, 0);
}

nav {
  background-color: rgb(44, 120, 101);
  width: 100%;
  padding-block: 20px;
  position: fixed;
  top: 0;
  box-shadow: 0px 1px 16px 1px rgb(58, 57, 57);
}
nav h1 {
  font-family: "Cormorant SC", serif;
  font-size: 34px;
  padding-left: 48px;
}
@media (min-width: 970px) {
  nav h1 {
    font-size: 48px;
  }
}
@media (min-width: 970px) {
  nav {
    display: flex;
    justify-content: space-between;
  }
}

.nav_btns {
  display: none;
}
@media (min-width: 970px) {
  .nav_btns {
    display: flex;
    gap: 50px;
    margin-right: 48px;
  }
}

.cardsBox {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  overflow-y: auto;
  width: 80%;
  margin-top: 270px;
  border-radius: 20px;
  padding: 20px;
  margin-inline: 10%;
}
@media (min-width: 970px) {
  .cardsBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .cardsBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.cardBox {
  box-shadow: 0px 1px 16px 1px rgb(58, 57, 57);
  border-radius: 10px;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgb(155, 190, 135);
  margin-bottom: 10px;
}
.cardBox h2 {
  font-family: "Cormorant SC", serif;
  font-size: 36px;
  margin-inline: auto;
}
@media (min-width: 970px) {
  .cardBox h2 {
    font-size: 42px;
  }
}
@media (min-width: 1200px) {
  .cardBox h2 {
    font-size: 50px;
  }
}

.fairyElement {
  font-family: "Cormorant SC", serif;
  font-size: 20px;
  margin-inline: auto;
}
@media (min-width: 970px) {
  .fairyElement {
    font-size: 28px;
  }
}
@media (min-width: 1200px) {
  .fairyElement {
    font-size: 36px;
  }
}

#cardDetail {
  box-shadow: 0px 1px 16px 1px rgb(58, 57, 57);
  border-radius: 10px;
  width: 95%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cardBtn {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  gap: 10px;
}
@media (min-width: 970px) {
  .cardBtn {
    flex-direction: row;
    gap: 20px;
  }
}

.fairyImg {
  width: 100%;
}

body {
  background-color: rgb(44, 120, 101);
  align-items: center;
  height: 100vh;
}

.searchDiv {
  background: linear-gradient(180deg, rgb(122, 69, 44) 0%, rgb(199, 122, 21) 49%, rgb(122, 69, 44) 100%);
  box-shadow: 0px 1px 16px 1px rgb(58, 57, 57);
  position: fixed;
  top: 120px;
  width: 100%;
}
@media (min-width: 970px) {
  .searchDiv {
    height: 10vh;
  }
}

.searchDiv {
  display: flex;
}
.searchDiv h3 {
  margin-inline: 20px;
  margin-top: 10px;
  font-size: 25px;
  font-family: "Cormorant SC", serif;
}
@media (min-width: 970px) {
  .searchDiv {
    justify-content: space-around;
    align-items: center;
  }
}

.searchForm {
  display: flex;
  flex-direction: row;
}
@media (min-width: 970px) {
  .searchForm {
    gap: 100px;
  }
}

.searchBtn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 10px;
  justify-content: center;
}
@media (min-width: 970px) {
  .searchBtn {
    flex-direction: row;
  }
}

select {
  background-color: rgb(202, 209, 192);
  width: 90px;
  height: 30px;
  border-radius: 3px;
  box-shadow: 0px 1px 8px 1px rgb(180, 176, 176);
  border: none;
  color: rgb(17, 53, 44);
  margin-block: 5px;
  font-size: 10px;
}
@media (min-width: 970px) {
  select {
    width: 150px;
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  select {
    width: 220px;
    height: 35px;
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
